/* RecipeForm.css */
.recipe-form {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.input-field input[type="text"],
.input-field input[type="file"],
.input-field input[type="number"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
}

.input-field input[type="text"]:focus,
.input-field input[type="file"]:focus {
    border-color: #ff7b54;
    outline: none;
}

.ingredient-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ingredient-input input {
    flex: 1;
}

.ingredient-input button {
    padding: 6px 10px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.ingredient-input button:hover {
    background-color: #e63946;
}


.recipe-form div {
    margin-bottom: 15px;
}

.recipe-form input[type="radio"] {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .recipe-form {
        max-width: 90%;
    }
}

.userrecipe-submit{
    padding: 10px 20px;
    background-color: #FFA575;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.userrecipe-submit:hover{
    background-color: #ff9d68;
    cursor: pointer;
}

.big-title{
    margin-bottom: 100px;
}

.userrecipe-ingredient-add{
    padding: 10px 20px;
    background-color: #FFA575;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    display: flex;
}

.userrecipe-ingredient-add:hover{
    background-color: #ff9d68;
    cursor: pointer;
}