<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.RecipesMapper">
	
    <select id="getAllRecipes" resultType="com.project.model.Recipes">
        SELECT r.*, c.category_name AS categoryName
        FROM Recipes r
        LEFT JOIN Categories c ON r.category_id = c.category_id
        ORDER BY RAND()
    </select>
    
    <select id="getPopularRecipes" resultType="com.project.model.Recipes">
    	SELECT r.*, c.category_name AS categoryName
        FROM Recipes r
        LEFT JOIN Categories c ON r.category_id = c.category_id
        ORDER BY r.view DESC
    	LIMIT 6
    </select>

	<select id="findById" resultType="com.project.model.Recipes">
		SELECT r.*, c.category_name AS categoryName
		FROM Recipes r
		JOIN Categories c ON r.category_id = c.category_id
		WHERE r.recipes_id = #{id}
	</select>
	 
	<select id="findByIngredient" resultType="com.project.model.Recipes">
    	SELECT DISTINCT r.*
    	FROM Recipes r
    	JOIN Recipe_Ingredients ri ON r.recipes_id = ri.recipes_id
    	JOIN Ingredients i ON ri.ingredient_id = i.ingredient_id
    	WHERE i.name LIKE CONCAT('%', #{query}, '%')
	</select>
	 
	 <select id="findByFoodName" resultType="com.project.model.Recipes">
        SELECT * FROM Recipes WHERE foodName LIKE CONCAT('%', #{query}, '%')
    </select>
    
    <select id="findIngredientsByRecipeId" resultType="com.project.model.Ingredients">
        SELECT i.* 
        FROM Ingredients i 
        JOIN Recipe_Ingredients ri ON i.ingredient_id = ri.ingredient_id 
        WHERE ri.recipes_id = #{recipesId}
    </select>
    
    <update id="updateRecipe">
    	UPDATE Recipes SET view = #{view} WHERE recipes_id = #{recipesId}
	</update>
	
	<insert id="addFavoriteList">
    	INSERT INTO favorite (users_id, recipes_id) VALUES (#{userId}, #{recipesId})
	</insert>

	<delete id="deleteFavoriteList">
    	DELETE FROM favorite WHERE users_id = #{userId} AND recipes_id = #{recipesId}
	</delete>





</mapper>