.footer{
    background-color: #FFB58D;
    align-items: center;
    text-align: center;
    height: 200px;
    padding: 10px 50px;
}
.footer-logo{
    display: flex;
    align-items: center;
}
.footer-logo img{
    width: 40px;
    height: 40px;
}

.footer-logo h2{
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


.footer-content{
    color: #5e5e5e;
}

.admin-btn{
   margin-right: 10px;
   margin-left: auto;
   display: flex;
}