*{
    margin: 10px;
}
.header{
    background-color:white;
    align-items: center;
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
    height: 180px;
}
.header-logo h1{
    flex-grow: 1; 
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0;
}
.header-logo img{
    width: 80px;
    height: 80px;

}
.header-logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* 가로 중앙 정렬 */
    display: flex;
    align-items: center;
}

.login{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    position: absolute;
    top: 0;
    right: 0;
}

.login button{
    border-radius: 10px;
    background-color: rgb(224, 193, 134);
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
}

.category{
    display: flex;
    position: absolute;
    left: 20px; 
    bottom: 0px;
    
}

.category-dropdown{
    position: relative;
}

.dropdown{
    position: absolute;
    top: 15px; 
    left: 0;
    background-color: #fefefe;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-width: 120px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10; 
    visibility: hidden; 
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.category-dropdown:hover .dropdown{
    visibility: visible;
    opacity: 1;
}

.category .active{
    font-weight: bold;
    font-size: larger;
}