.footer{
    background-color: rgba(253, 217, 149, 0.945);
    align-items: center;
    text-align: center;
    height: 150px;
    position: relative;
    display: flex;
}
.logo{
    position: absolute;
    display: flex;
    align-items: center;
}
.logo img{
    width: 80px;
    height: 80px;

}